/*
!.gitignore
!README.md

!/_Raws
/_Raws/*
!/_Raws/Calc
!/_Raws/CompSci
!/_Raws/Personal
!/_Raws/Liberal
!/_Raws/Stats
!/_Raws/Econs
!/_Raws/Homework
*_files/
notebooks

!/_Exported/
# /_Exported/Calc/*
!/_Exported/Calc
# !/_Exported/Calc/Semester_1/*.pdf
!/_Exported/Stats
!/Templates/
!/build.sh
!/build.py
!.latexmkrc
